.styleCard{
   justify-content: center;
 }

.styleTitleCard{
    color: lightgoldenrodyellow;
    font-size: 15px;
    text-align: center;
    transition: 1s;
    animation: bounceIn;
	animation-duration: 1s;
    
}

.styleSubtitleCard{
    font-weight: bold;
    font-style: italic;
    line-height: 9px;
    text-align: center;
}

.styleButtonCard{
    color: grey;
    background-color: black;
    text-align: center;
    transition: 0.7s;
    &:hover{
        transform: scale(1.1);
        background-color: black;
        color: white;
    }

}