.body{
    min-height: 100vh
}

*{
    margin: 4;
    padding: 4;
}

.modal-container{
    height: 100vh;
    width: 100%;
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.modal-active{
    
    visibility: visible;
    opacity: 1;
}

.modalcito{
    background-color: black;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    text-align: center;
    padding: 22px;
    visibility: visible;
}

.imagenModal1{
    max-width: 90%;
    max-height: 90%;
}

.buttonModalcito {
    color: grey;
    background-color: black;
    border-radius: 50px;
    border-color: black;
    transition: 3s;
}

.carritoCompras{
    min-height: 2vh;
    margin: 2vh;

}

.carritoCompras button img {
    max-height: 4vh;

}

.buttonImagenModalcito{
    color: black;
    background-color: black;
    border-color: black;
}

